.ipynb_checkpoints/
.idea/
__pycache__/

results
results.*
notebooks/
experiments/
configs/dev/

*.ckpt
core.*

__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
**/*.pyc
result*/
results*/
backup*/
test.*/
.nfs*

.ipynb_*/

# MacOSX
**/*.DS_Store
